Repository eniblock/vault: changes, and which GitLab CI jobs are due for each by the changed paths.
All: ci, publish_docker, publish_helm

ci:
  stage: prepare
  image:
    name: tbxdev/build-docker
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  ...

publish_docker:
  stage: publish
  before_script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
  - docker build --pull -t $CONTAINER_REF_IMAGE -t $CONTAINER_SHA_IMAGE -t $CONTAINER_REF_SHA_IMAGE .
  - docker push $CONTAINER_REF_IMAGE
  - docker push $CONTAINER_SHA_IMAGE
  ...

publish_helm:
  stage: publish
  image:
    name: alpine/helm:3.5.2
    entrypoint:
    - /bin/sh
    - -c
  variables:
    HELM_EXPERIMENTAL_OCI: 1
    HELM_IMAGE: $CI_REGISTRY_IMAGE/helm:$CI_COMMIT_REF_SLUG
  script:
  - helm registry login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  ...

add a tilt file
  Tiltfile
Due: none

exclude some dev files
  .gitignore
Due: none

allow to pass the custom init script in the chart values
  Tiltfile
  helm/vault/templates/configmap.yaml
  helm/vault/templates/deployment.yaml
  helm/vault/values-dev.yaml
  helm/vault/values.yaml
  vault-init.sh
Due: publish_docker, publish_helm

fix debug variable location
  helm/vault/templates/deployment.yaml
  helm/vault/values.yaml
Due: publish_helm

hardcode the helm chart version
  .gitlab-ci.yml
Due: none

use a unique tag name for the helm chart
  .gitlab-ci.yml
  ci/Dockerfile
Due: ci

Add a README file
  README.md
Due: none

allow to pass init secrets
  helm/vault/templates/_helpers.tpl
  helm/vault/templates/deployment.yaml
  helm/vault/templates/secrets.yaml
  helm/vault/values-dev.yaml
  helm/vault/values.yaml
  vault-init.sh
Due: publish_docker, publish_helm

use xdev helm image in place of the project custom ci image
  .gitlab-ci.yml
  ci/Dockerfile
Due: ci

Use the gitlab public address
  Tiltfile
  build
  helm/vault/values.yaml
Due: publish_helm

use the helm and docker build scripts
  .gitlab-ci.yml
  helm/vault/values.yaml
Due: publish_helm

Update README.md
  README.md
Due: none

fix gcp unsealing and use more k8s secrets
  .gitignore
  Dockerfile
  backend.hcl
  config.hcl.tpl
  helm/vault/templates/configmap.yaml
  helm/vault/templates/deployment.yaml
  helm/vault/templates/secrets.yaml
  helm/vault/values.yaml
  listener-init.hcl
  listener.hcl
  vault-init.sh
Due: publish_docker, publish_helm

check VAULT_DEBUG content
  vault-init.sh
Due: publish_docker

fix missing secrets in container env
  helm/vault/templates/deployment.yaml
Due: publish_helm

docker image must be rebuilt each time
  .gitlab-ci.yml
Due: none

check we're allowed to write in xdev's vault
  vault-init.sh
Due: publish_docker

fix /extra/config check
  vault-init.sh
Due: publish_docker

use helm dependency update in the CI
  .gitlab-ci.yml
Due: none

Revert "use helm dependency update in the CI"
  .gitlab-ci.yml
Due: none

fix empty dir detection with k8s config map volume
  vault-init.sh
Due: publish_docker

copy the configuration from the config map with a cat
  vault-init.sh
Due: publish_docker

add default resources requests
  helm/vault/values.yaml
Due: publish_helm

enable custom deploymentStrategy and restore empty resources
  helm/vault/templates/deployment.yaml
  helm/vault/values.yaml
Due: publish_helm

ci: wait docker is ready
  .gitlab-ci.yml
Due: none

chart: add reloader annotation
  helm/vault/templates/deployment.yaml
Due: publish_helm

fix image pull policy
  helm/vault/values.yaml
Due: publish_helm

remove unused test
  helm/vault/templates/tests/test-connection.yaml
Due: publish_helm

set default empty values
  helm/vault/values.yaml
Due: publish_helm

fix missing liveness probe
  helm/vault/templates/deployment.yaml
Due: publish_helm

fix missing resource request
  helm/vault/values.yaml
Due: publish_helm

add linter in tilt and gitlab-ci
  .gitlab-ci.yml
  Tiltfile
Due: none

remove k8s test
  .gitlab-ci.yml
Due: none

bump version to 1.1.0
  helm/vault/Chart.yaml
Due: publish_helm

use last build images
  .gitlab-ci.yml
Due: none

use 1.5 helm image
  .gitlab-ci.yml
Due: none

introduce persistence values and support for existingClaim
  helm/vault/templates/deployment.yaml
  helm/vault/templates/pvc.yaml
  helm/vault/values.yaml
Due: publish_helm

update v1.2.0
  helm/vault/Chart.yaml
Due: publish_helm

fix pvc syntax
  helm/vault/templates/pvc.yaml
Due: publish_helm

Path conditions:
  ci: any of: ci/*
  publish_docker: any of: Dockerfile, vault-init.sh, config*.tpl
  publish_helm: any of: helm/**/*
